[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=YOUR_USERNAME
Group=YOUR_USERNAME
WorkingDirectory=/d/Project/TeXNote256
ExecStart=/d/Project/TeXNote256/.venv/Scripts/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    texnote256.wsgi:application

[Install]
WantedBy=multi-user.target

server {
    listen 80;
    server_name taitruong256.info.vn;

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /static/ {
        alias D:/Project/TeXNote256/static/;
    }
    location /media/ {
        alias D:/Project/TeXNote256/media/;
    }
}