[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/gunicorn.sock
SocketUser=YOUR_USERNAME
SocketGroup=YOUR_USERNAME
SocketMode=0660

[Install]
WantedBy=sockets.target 