{% extends 'blog/login_base.html' %}
{% block content %}
<div>
  <div class="login-title">Đăng nhập</div>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_username" class="form-label">Username:</label>
      <input type="text" name="username" class="form-control" id="id_username" required autofocus>
    </div>
    <div class="mb-3">
      <label for="id_password" class="form-label">Password:</label>
      <input type="password" name="password" class="form-control" id="id_password" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
  </form>
  <div class="login-link">
    Chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký</a>
  </div>
</div>
{% endblock %}
